@page
@model IMS.Pages.LoginModel
@{
  ViewData["Title"] = "Inventory Management System (IMS)";
}
@* add a create account button next to log-in button that will redirect to CreateAccount page  *@
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="w-100" style="max-width: 400px;">
    <div class="text-center mb-4">
      <h1>Inventory Management System (IMS)</h1>
      <p class="lead">Please login to continue</p>
    </div>
    @if (ViewData.ModelState[""] != null){
    <div class="alert @(Model.LoginErrorType.Equals(LoginModel.LoginErrorTypes.Redirect) 
    ? "alert-warning" 
    : "alert-danger")">
      @ViewData.ModelState[""].Errors[0].ErrorMessage
      </div>
    }
    <form method="post">
      <div class="form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" type="password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
      <a href="/CreateAccount" class="btn btn-secondary btn-block mt-3">Create Account</a>
    </form>
  </div>
</div>
@* 
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
  <script>
    $(document).ready(function () {
      var loginFailed = '@ViewData["LoginFailed"]';
      if (loginFailed === 'True') {
        alert('Login failed. Please check your username and password.');
      }
    });
  </script>
}
*@